
.App {
  text-align: center;

}

.UserGuessContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 20rem;
  margin: 0;
}

.RestartButton{
  margin: 1rem;
}

input{
  font-size: 16px;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid #ccc;
  overflow: hidden;
}
input:focus{
  outline: none;
}

.PokemonImageContainer {
  position: relative;
  border-radius:1rem;
  margin: 0.5rem;
  overflow: hidden;
  scale: 1.5;
}

.imageContainer{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #7bb9f3;
  border: 2px solid black ;
  border-radius: 1rem;
  height: 10rem;
  width: 10rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.PokemonImage0{
  scale: 8;
}
.PokemonImage1{
  scale: 6;
}
.PokemonImage2{
  scale: 4;
}
.PokemonImage3{
  scale: 2;
}
.PokemonImage4{
  scale: 1;
}
.PokemonImageWin{
  scale: 1;
}

